@media (max-width: 768px) {
  h1 {
    font-size: 74px;
  }
  h2 {
    font-size: 28px;
  }

  .nav-left {
    top: 30px;
    left: 48px;
    width: 90%;
    height: 20px;
    position: absolute;
    flex-direction: row;
    align-items: center;
  }

  .nav-left-item {
    margin-right: 20px;
    font-size: 9px;
    transform: none;
  }

  .nav-line {
    height: 60px;
    margin: 0 20px;
    transform: rotate(270deg);
  }

  .nav-left-copy {
    font-size: 12px;
    transform: none;
    margin-left: 40%;
  }
  .homepage-small-info {
    position: absolute;
    width: 60%;
    top: 120px;
    left: 2vh;
  }
  .menu-container {
    top: 43vh;
    left: 2vh;
  }

  .work-small-info {
    position: absolute;
    width: 70%;
    top: 100px;
    left: 10vh;
  }
  .work-small-info p {
    margin-left: 10px;
  }
  .latest-work {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    top: 450px;
    left: 10vh;
  }
  .about-text {
    position: absolute;
    width: 40%;
    top: 100px;
    left: 3vh;
    right: 3vh;
  }
  .about-image {
    top: 230px;
    left: 240px;
  }

  .image-of-me {
    width: 150px;
    height: 200px;
  }
  .about-text-long {
    width: 370px;
    margin-top: 20px;
  }
  .contact-small-info {
    left: 10px;
    width: 80%;
  }
}
